*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   width: 100%;
   height: 100vh;
   font-size: 30px;
   background: url("https://media-manager.noticiasaominuto.com.br/1920/naom_5df946eeae834.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: #fff;
}

header{
   width: 100%;
   height: 20vh;
   padding: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header p{
   font-size: 0.8em;
}

header h1{
   font-size: 2em;
}

main{
   width: 100%;
   height: 65vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(255, 255, 255, 0.5);
   margin-top: 2%;
}

section{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

section input{
   width: 300px;
   font-size: 22px;
   margin-right: 10px;
}

section button{
   width: 100px;
   font-size: 22px;
   padding: 2px;
}

#info-apod{
   width: 99%;
   height: 99%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 1%;
}

#info-apod img{
   width: 50%;
   height: 80%;
   border-radius: 20px;
}

#description{
   width: 45%;
   padding: 15px;
   text-align: center;
}

#description h1{
   font-size: 1.2em;
   color: #000;
}

#description p{
   font-size: 0.7em;
   text-align: justify;
   margin-top: 20px;
   color: #000;
}

@media (max-width: 1100px) {

   header{
      text-align: center;
      height: auto;
   }

   main{
      height: auto;
   }

   #info-apod{
      width: 98%;
      height: auto;
      flex-direction: column;
      padding: 5% 0;
   }

   #info-apod img{
      width: 95%;
      height: auto;
      border-radius: 20px;
   }
   
   #description{
      width: 95%;
      padding: 15px;
      text-align: center;
   }
}